/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea
/resources/js/config.js
/public/js/app.js
/public/js/app.css

frontend/src/utils/config.js
frontend/v8-compile-cache-0

google_credentials.json
